
{%load crispy_forms_tags %}
  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <style>
      body {
        margin:0 auto
        width: 100% 
        padding: 50px;
        font-family: 'Lexend Deca', sans-serif; 
        color: #2E475D;
        
        align:center    
      }
      
        .container {
          font-family: arial;
          font-size: 24px;
          margin: 25px;
      
        
        }
        
    </style>
    <!-- CSS only -->
    <!-- CSS only -->
    <link href="/static/assets/css/datatables.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    {% block custom_tags %}{% endblock %}
    <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  
 
    
</head>
<body>

{% comment %} {% include 'layouts/navbar.html' %}
{% include 'external/messages.html' %} {% endcomment %}

{% comment %} <div class="bg-light p-5 rounded-lg m-3">
    {% include 'external/messages.html' %}
    <h1 class="display-4"> {% block title-head %} {% endblock %}</h1>
    <p class="lead"> {% block lead %} {% endblock %}</p>
    <p> {% block content %} {% endblock %}</p> {% endcomment %}
</div>



<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
 {% block content %}
{% endblock %}
{% comment %}
{% include 'layouts/footer.html' %} {% endcomment %}
</body>
<script>
  document.body.addEventListener('htmx:configRequest',(event) => {
      event.detail.headers['X-CSRFToken'] = '{{csrf_token}}'; // add a new parameter into the mix
  });
</script>
</html>