{%load static %}
{%load crispy_forms_tags%}

           
                
                {% comment %} <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                      {{ user_form.username|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                      {{ user_form.email |as_crispy_field }}
                    </div>
                  </div>
                <div class="form-row">
                  <div class="form-group col-md-6 mb-0">
                    {{ user_form.first_name|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-6 mb-0">
                    {{ user_form.last_name|as_crispy_field }}
                  </div>
                </div>
                  {{ user_form.password1|as_crispy_field }}
                  {{ user_form.password2|as_crispy_field }} {% endcomment %}
                  {% comment %} <form method="post" enctype="multipart/form-data"> {% endcomment %}
                    
     

        <div class="col-lg-7 right-class ">
            <div class="signup-wrapper">
               
                    <div class="container">
                        <div class="row my-3 p-3">
                            <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
                        </div>
                        {% if user_form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in user_form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        <form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content" hx-encoding="multipart/form-data">
                            {% csrf_token %}
                           {{profile_form|crispy}}
                     
                          
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                              </div>
                             
                            <div class="col-12">
                                <button class="btn btn-primary">Submit Now</button>
                            </div>
                          
                        </form>

                </div>
         
              </div>
            </div>
  -Letter Sec End-->
    
    <!--Footer Start-->
    <script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>
    <script src="{% static "dialog.js" %}"></script>
    <script>
        document.body.addEventListener('htmx:configRequest',(event) => {
            event.detail.headers['X-CSRFToken'] = '{{csrf_token}}'; // add a new parameter into the mix
        });
      </script>