{%load crispy_forms_tags %}
<style>
   
    
      .alert {
          padding: 1rem;
          margin-bottom: 1rem;
          border: 1px solid transparent;
          border-radius: 0.25rem;
      }
      
      .alert-success {
          color: white;
          background-color: #4CAF50 ;
          border-color: #c3e6cb;
      }
      
      .alert-info {
          color: white;
          background-color: #ff9800;
          border-color: #bee5eb;
      }
      
      .alert-warning {
          color: black;
          background-color: #fff3cd;
          border-color: #ffeeba;
      }
      
      .alert-danger {
          color: white;
          background-color: #f44336;
          border-color: #f5c6cb;
      }
 
  </style>
<div class="card mb-3">
    {% for message in messages %}
                                
                                            <div class="container-flui p-0">
                                            <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                              <span aria-hidden="True">&times;</span>
                                              </button>
                                              {{ message }}
                                            </div>
                                            </div>
                                            {% endfor %}
    <div class="card-header">
        <h6 class="mb-1">Password</h6>
        <p class="mb-0 text-muted small">Update personal &amp; contact information</p>
    </div>
    <form method="post"  enctype="multipart/form-data" action="{% url 'App:change_password'  %}" >
    <div class="card-body">
        
            {% csrf_token %}
            {{form|crispy}}
        
    </div>

    <div class="card-footer d-flex justify-content-end">
        <button type="reset" class="btn btn-link text-muted mx-1">Reset</button>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
    </form>
</div>